{% extends "base.html" %}
{% load static %}
{% block content %}
	<!-- about-page-starts -->
	<div class="about-page">
		<div class="container">
			<div class="content-gear">
				<h3>ABOUT</h3>
				<p>The Botswana Harvard Football Club has recently been re-formed for the purpose of team building, health fitness and for fun. The team formed by 25 players + 1 being a female amoung the males. The team has had a few success so far with a good record of winning, drawing games less than it loses games.</p>
		</div>
				<div class="our-grid">
				<div class="container">
				<h3>The prince of soccer</h3>
				<div class="do-the">
					<div class=" col-md-6 the-do">
						<h6>Coulson Kgathi</h6>
						<span>2016</span>
						<ul>
							<li>Score 5 goals</li>
							<li>Captain</li>
						</ul>
						<p><span>Hometown:</span> Bobs</p>
						<p><span>UB:</span> University of Botswana</p>
						<p><span>Plays For:</span> Botswana Harvard FC<p>
						<p><span>Position:</span> Striker</p>					
					</div>
					<div class="col-md-6 grid-img">
						<img class="img-responsive" src="{% static 'images/me1.png' %}" alt=" " />
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!-- about-page-section-ends -->
{% endblock %}