{% extends "base.html" %}
{% load static %}
	{% block content %}
	<div class="header-slider" id="home">
		<div class="slider">
			<div class="callbacks_container">
			  <ul class="rslides" id="slider">
			  {% for slide in slides %}
				<li>
				  <img src="{% static slide.image_name %}" alt="">
				  <div class="caption text-center">
					<h3>{{ slide.image_title }}</h3>
					<p>{{ slide.pic_discription }}</p>
				  </div>
				</li>
			  {% endfor %}
			  </ul>
		  </div>
	  </div>
	 </div>
	 </div>
	<!-- content-section-starts -->
		<div class="content">
			<div class="welcome-section">
				<div class="container">
					<div class="col-md-6 welcome-grid text-center">
						<h3>Welcome TO BHP FC</h3>
						<h5>A team founded by the BHP fore-fathers</h5>
						<p>Once again the team resurected by Team Captain with the help of a few team members come alive to bring fitness socialisation to the Botswana Harvard. </p>
						<p>Our sponsors are the Botswana Harvard management and team members. The team has so far been able to register 25 players, 1 female and 24 males.</p>
					</div>
					<div class="col-md-6 images">
						<div class="img1">
							<img src="{% static 'images/a1.jpg' %}" class="img-responsive" alt="" />
						</div>
						<div class="img2">
						<img src="{% static 'images/a2.jpg' %}" class="img-responsive" alt="" />
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="about-section text-center">
				<div class="container">
					<h2>About</h2>
					<div class="col-md-6 about-section-grid text-left">
						<h4>The Origin of the team </h4>
						<p>The team has originally been formed by the BHP male members for team building within work, keep fit and for fun. Through out the years the team stopped functioning.</p>
					</div>
					<div class="col-md-6 about-section-grid text-left">
						<h4>The Team Today </h4>
						<p>The team has recently been brought back by the team captain and with the help of other team members. The team still has the same purpose to keep fit, team building within the organization and for fun. So far the team has achieved a lot and people even know each other that would have otherwise not known each other if it was not for the team.</p>
					</div>
					<div class="clearfix"></div>
					<a href="" class="btn btn-1 btn-1c">read more</a>
				</div>
			</div>
			<div class="textimonials-section text-center">
				<div class="container">
					<img src="{% static 'images/t.png' %}" alt="" />
					<h5>Team Building, Physical Fitness, Fun is the way To Go.</h5>
					<p>Let your Health take Priority</p>
					<a href="" class="btn btn-1 btn-1d">Read Testimonials</a>
				</div>
			</div>
		</div>
	<!-- content-section-ends -->
	{% endblock %}